ProstateX_Final/Model/data/detection/weights_no_da.h5
ProstateX_Final/Model/data/y_val.npy
ProstateX_Final/Model/data/y_train.npy
ProstateX_Final/Model/data/y_test.npy
ProstateX_Final/Model/data/X_val.npy
ProstateX_Final/Model/data/X_train.npy
ProstateX_Final/Model/data/X_test.npy
ProstateX_Final/Model/data/y_test.npy
ProstateX_Final/Model/data/y_val.npy
ProstateX_Final/Model/data/y_train.npy
ProstateX_Final/Model/data/detection/weights_no_da.h5
Promise12_Final/data/y_val.npy
Promise12_Final/data/y_train.npy
Promise12_Final/data/y_test.npy
Promise12_Final/data/X_val.npy
Promise12_Final/data/X_train.npy
Promise12_Final/data/X_test.npy
Promise12_Final/data/weights_no_augmentation.h5
Promise12_Final/testing.ipynb
ProstateX_Final/Model/data/detection_and_classification/classifi_weights.h5
ProstateX_Final/Model/data/detection_and_classification/X_test.npy
ProstateX_Final/Model/data/detection_and_classification/X_train.npy
ProstateX_Final/Model/data/detection_and_classification/X_val.npy
ProstateX_Final/Model/data/detection_and_classification/y_test.npy
ProstateX_Final/Model/data/detection_and_classification/y_train.npy
ProstateX_Final/Model/data/detection_and_classification/y_val.npy
Promise12_Final/data/weights_with_augmentation.h5
Promise12_Final/data/weights_with_augmentation.h5
Promise12_Final/data/weights_with_augmentation.h5
Promise12_Final/test.ipynb
Promise12_Final/testing_stuff.py
Promise12_Final/data/my_excel_file.xlsx
Promise12_Final/data/Figure_1.png
Promise12_Final/data/Figure_11.png
Promise12_Final/data/history_with_augmentation.npy
Promise12_Final/data/last_test_score.png
Promise12_Final/data/last_test.png
ProstateX_Final/Model/data/detection_and_classification/history_with_augmentation.npy
ProstateX_Final/Model/data/detection_and_classification/Loss_TestLundiSoir.png
ProstateX_Final/Model/data/detection_and_classification/my_excel_file.xlsx
ProstateX_Final/Model/data/Figure_1.png
ProstateX_Final/Model/testing.ipynb


Promise12_Final/data_analysis.ipynb
ProstateX_Final/Model/data_analysis.ipynb
Pipeline.ipynb
